In [1]:
import pandas as pd
import numpy as np

In [2]:
df1=pd.read_csv('ecom sales 1.csv')
df2=pd.read_csv('ecom sales 2.csv')
df3=pd.read_csv('ecom sales 3.csv')
df4=pd.read_csv('ecom sales 4.csv')
df5=pd.read_csv('ecom sales 5.csv')
df6=pd.read_csv('ecom sales 6.csv')
df7=pd.read_csv('ecom sales 7.csv')
df8=pd.read_csv('ecom sales 8.csv')
df9=pd.read_csv('ecom sales 9.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (15,18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
final_df=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9], ignore_index=True)

In [4]:
final_df.head()

,Order Date,Ship Date,Order ID,Order Fulfillment ID,Tracking Number,Node,Store Number,Store Name,SKU,SKU Description,Total Units Demanded per SKU,Units Shipped,Total Sales Demand,Sum_Freight Cost,Freight Revenue,Receiver Zip,Sender Zip,DateTime_Out,3Dzip
0,05-05-19,05-07-19,MIK11473107,MIK114731072,8.02E+17,ALLIANCE,9490,E-COMMERCE ALLIANCE,10460163,GLD T-SHIRT ADULT MD SUNSET,1.0,1,3.99,3.07,6.95,73008,76177,05-05-19,730
1,05-05-19,05-07-19,MIK11473112,MIK114731122,1ZA37A060366106419,ALLIANCE,9490,E-COMMERCE ALLIANCE,10105275,SD FRM 12X18 BLACK TRENDSETTER,1.0,1,33.86,8.46,Free Shipping,54401,76177,05-05-19,544
2,05-05-19,05-07-19,MIK11473112,MIK114731122,1ZA37A060366106419,ALLIANCE,9490,E-COMMERCE ALLIANCE,10354896,SD FRAME FLOAT 14X20 PEWTER,1.0,1,NaN,NaN,NaN,54401,76177,05-05-19,544
3,05-05-19,05-07-19,MIK11473112,MIK114731122,1ZA37A060366106419,ALLIANCE,9490,E-COMMERCE ALLIANCE,10508167,BL CHN CURB SIL PLT 24IN,1.0,1,NaN,NaN,NaN,54401,76177,05-05-19,544
4,05-05-19,05-07-19,MIK11473112,MIK114731122,1ZA37A060366106419,ALLIANCE,9490,E-COMMERCE ALLIANCE,10545087,BL EDV FINDINGS KIT NECK SIL,1.0,1,NaN,NaN,NaN,54401,76177,05-05-19,544

In [5]:
final_df['month'] = pd.DatetimeIndex(final_df['Order Date']).month

KeyboardInterrupt:

In [ ]:
#df2.to_csv('month_sales.csv')

In [7]:
df_zips= pd.read_csv('all_zip_sales_noz.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (0,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
df_zips.head()

      Zip State  Longitude   Latitude       Sales  Units  Orders  3dz Country
0  A0A0A0   A0A -54.843225  48.567450         NaN    NaN     NaN  A0A      CA
1  A0A1A0   A0A -52.958921  47.007347         NaN    NaN     NaN  A0A      CA
2  A0A1B0   A0A -53.293993  47.362280   31.798500    3.0     3.0  A0A      CA
3  A0A1C0   A0A -52.799870  47.403988  307.053699   21.0    13.0  A0A      CA
4  A0A1E0   A0A -52.894291  48.086656         NaN    NaN     NaN  A0A      CA

In [ ]:
df2 = final_df.groupby(['month','Receiver Zip']).agg({
'Total Sales Demand':'sum',
'Total Units Demanded per SKU':'sum',
'Order ID':'count'})
#df2.reset_index(level=0, inplace=True)
df2

In [11]:
df_zips['Zip']=df_zips['Zip'].astype(str)
final_df['Receiver Zip']=final_df['Receiver Zip'].astype(str)

In [12]:
result = pd.merge(final_df,
                 df_zips[['State', 'Zip', 'Country']],
                 left_on='Receiver Zip',
                 right_on='Zip', how='left')

In [16]:
result.tail()

,Order Date,Ship Date,Order ID,Order Fulfillment ID,Tracking Number,Node,Store Number,Store Name,SKU,SKU Description,...,Total Sales Demand,Sum_Freight Cost,Freight Revenue,Receiver Zip,Sender Zip,DateTime_Out,3Dzip,State,Zip,Country
8011819,05-02-20,05-02-20,CAN00705502,CAN007055021,GCN000000779,SFS,3931,CAL-STONEY TRAIL,10536363,AL SKETCH MRKR 24PC SET,...,NaN,NaN,NaN,T1W2J6,T3R 0A1,02-05-20,T1W,T1W,T1W2J6,CA
8011820,05-02-20,05-03-20,CAN00707652,CAN007076521,TMW000006985,SFS,3947,VAN-PITT MEADOWS,10594713,GLD TSHIRT MD YOUTH WHITE,...,25.6740,7.88,9.8204,V3S8T1,V3Y 2W1,02-05-20,V3S,V3S,V3S8T1,CA
8011821,05-02-20,05-02-20,RC13496,RC134961,TLV000008723,SFS,3918,MEDICINE HAT,10500983,CTS RHSOFT ESSENTIAL YRN BISCU,...,NaN,8.48,Free Shipping,N0L2C0,T1B 1E2,02-05-20,N0L,N0L,N0L2C0,CA
8011822,05-02-20,05-02-20,RC13496,RC134961,TLV000008723,SFS,3918,MEDICINE HAT,10519245,L&T YRN L/T CAMDEN WL BIG GRAY,...,NaN,NaN,NaN,N0L2C0,T1B 1E2,02-05-20,N0L,N0L,N0L2C0,CA
8011823,05-02-20,05-02-20,RC13496,RC134961,TLV000008723,SFS,3918,MEDICINE HAT,10621178,L&T YRN RPPLG WAVE WHITE DOVE,...,-39.3946,NaN,NaN,N0L2C0,T1B 1E2,02-05-20,N0L,N0L,N0L2C0,CA

In [17]:
df_zips2=pd.read_csv('cust_month.csv')

In [58]:
result3['month'] = pd.DatetimeIndex(result3['Order Date']).month

In [62]:
result3.columns

Index(['Order Date', 'Ship Date', 'Order ID', 'Order Fulfillment ID',
       'Tracking Number', 'Node', 'Store Number', 'Store Name', 'SKU',
       'SKU Description', 'Total Units Demanded per SKU', 'Units Shipped',
       'Total Sales Demand', 'Sum_Freight Cost', 'Freight Revenue',
       'Receiver Zip', 'Sender Zip', 'DateTime_Out', '3Dzip', 'New.Category',
       'month'],
      dtype='object')

In [63]:
result3 = pd.merge(result3,
                 df_zips[['State', 'Zip', 'Country']],
                 left_on='Receiver Zip',
                 right_on='Zip', how='left')

In [64]:
df4 = result3.groupby(['month','State','New.Category']).agg({
'Total Sales Demand':'sum',
'Total Units Demanded per SKU':'sum',
'Order ID':'nunique'})
df2.reset_index(level=0, inplace=True)
df4

                          Total Sales Demand  Total Units Demanded per SKU  \
month State New.Category
1     A0A   A                       344.3652                          25.0
            Non-A                     0.0000                           1.0
            Seasonal                 15.0833                           2.0
      A0B   A                       116.6521                          17.0
            Non-A                    82.5627                           6.0
...                                      ...                           ...
12    WV    Non-A                  8651.7600                        1418.0
            Seasonal              21864.1900                        2836.0
      WY    A                     12572.8000                        1445.0
            Non-A                  2793.4900                         561.0
            Seasonal               4926.9700                         712.0

                          Order ID
month State New.Category
1     A0A   A                    5
            Non-A                1
            Seasonal             1
      A0B   A                    2
            Non-A                1
...                            ...
12    WV    Non-A              443
            Seasonal           789
      WY    A                  319
            Non-A              130
            Seasonal           191

[22600 rows x 3 columns]

In [65]:
df4.to_csv('df_2.csv')

In [ ]:
result4 = pd.merge(df4,
                 df_zips2[['State', 'Cust_State']],
                 left_on='State',
                 right_on='State', how='left')

In [48]:
sku=pd.read_csv('SKU Category.csv')
sku.head()

        SKU Category New.Category  EDC.Available
0  10299013        A            A              0
1  10592000        A            A              1
2  10131568        A            A              1
3  10468254        A            A              1
4  10197632        A            A              1

In [50]:
result3 = pd.merge(final_df,
                 sku[['New.Category', 'SKU']],
                 left_on='SKU',
                 right_on='SKU', how='left')

In [52]:
result3['New.Category'].unique()

array(['Seasonal', 'A', 'Non-A', 'Non-Sellable'], dtype=object)